@{
	ViewData["Title"] = "Category-Kids";
}

@model IEnumerable<VEXA.Models.Product>
<h1 class="Cat-Title">Kids</h1>
<div class="product-container">
	@foreach (var product in Model)
	{
		<div id="@product.Id" class="product">
			<img src="@product.ImageUrl" onclick="location.href='/Products/Details/@product.Id'" />
			<h4>@product.Name</h4>
			<div class="info">
				<p id="product-@product.Id" class="price">@product.Price EGP</p>
				<a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@product.Id" asp-route-size="M" class="addCart">
					<i class="fa-solid fa-basket-shopping"></i>
				</a>
			</div>
		</div>
	}
</div>
