@{
    ViewData["Title"] = "Shopping Cart";
}
@model List<VEXA.Models.CartItem>

@section Scripts {
    <script src="~/js/site.js"></script>
}

<div class="cartpage">
    @if (Model.Count == 0)
    {
        <div class="empty-cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <h2>Your cart is empty</h2>
            <p>Looks like you haven't added anything yet.</p>
            <a href="/Products/AllProducts" class="continue-shopping ">Continue Shopping</a>
        </div>
    }
    else
    {
        <div class="cartitems">
            @foreach (var item in Model)
            {
                <div class="cartitem">
                    <div class="productincart">
                        <img src="@item.Product.ImageUrl" />
                        <div class="itemdetails">
                            <p>@item.Product.Name</p>
                            @* <span class="itemsize">Size: @item.Size</span> *@
                        </div>
                    </div>
                    <span class="itemprice">EGP @item.Product.Price</span>
                    <div class="quantity">
                        <input type="number" class="qty" value="@item.Quantity" data-price="@item.Product.Price" min="1" />
                        <input type="hidden" name="productId" value="@item.ProductId" />
                        @* <input type="hidden" name="size" value="@item.Size" /> *@
                    </div>
                    <span class="totalprice"></span>
                    <form asp-action="RemoveFromCart" method="post">
                        <input type="hidden" name="ProductId" value="@item.ProductId" />
                        @* <input type="hidden" name="size" value="@item.Size" /> *@
                        <button class="remove" type="submit">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </form>
                </div>
            }
        </div>

        <div class="cart-total">
            <h3>Cart Total</h3>
            <p>Subtotal <span class="subtotal"></span></p>
            <p>Delivery Fee <span>Free</span></p>
            <p>Grand Total <span class="grandtotal"></span></p>
            <form action="/Order/Checkout" method="get">
                <button type="submit" class="checkout-btn">Proceed to Checkout</button>
            </form>
        </div>
    }
</div>

