@{
	ViewData["Women"] = "Category-Women";
}

@model IEnumerable<VEXA.Models.Product>

<h1 class="Cat-Title">Women</h1>

<div class="category-nav">
    <a href="@Url.Action("WomenTops")" class="category-link">Tops</a>
    <a href="@Url.Action("WomenBottoms")" class="category-link">Bottoms</a>
</div>
<div class="product-container">
	@foreach (var product in Model)
	{
		<div id="@product.Id" class="product">
			<img src="@product.ImageUrl" onclick="location.href='/Products/Details/@product.Id'" />
			<h4>@product.Name</h4>
			<div class="info">
				<p id="product-@product.Id" class="price">@product.Price EGP</p>
				<button type="button" onclick="addToCart(@product.Id)" class="addCart">
					<i class="fa-solid fa-basket-shopping"></i>
				</button>
			</div>
		</div>
	}
</div>
