@{
    ViewData["title"] = "All Products";
}
@model IEnumerable<VEXA.Models.Product>

<h1 class="Cat-Title">All Products</h1>
<div class="product-container">
    @foreach(var product in Model){
        <div id="product-@product.Id" class="product">
            <img id="img-@product.Id" onclick="location.href='/Products/Details/@product.Id'" 
                 src="@product.ImageUrl" alt="@product.Name" />
            <h4>@product.Name</h4>
            <div class="info">
                <p id="price-@product.Id" class="price">@product.Price EGP</p>
                <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@product.Id" asp-route-size="M" class="addCart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </a>
            </div>
        </div>
    }
</div>
```